<form name="myForm" ng-submit="register()" novalidate>
  <div class="textintro">
    <h1>Form Validation</h1>
    <p>Please fill out the following form</p>
    <p ng-show="message">{{ message }}</p>
  </div>
  <fieldset>
    <div>
    <label>First name
    <input type="text" name="firstname" placeholder="First name" ng-model="user.firstname" ng-required="true"></label>
      <p class="error validationerror" ng-show="myForm.firstname.$invalid && myForm.firstname.$touched">Please enter first name</p>
    </div>
    <div>
    <label>Last name
    <input type="text" name="lastname" placeholder="Last name" ng-model="user.lastname" ng-required="true"></label>
    <p class="error validationerror" ng-show="myForm.lastname.$invalid && myForm.lastname.$touched">Please enter last name</p>
    </div>
    <div>
    <label>Email
    <input type="email" name="email" placeholder="Email" ng-model="user.email" ng-required="true"></label>
    <p class="error validationerror" ng-show="myForm.email.$invalid && myForm.email.$touched">Please enter valid email</p>
    </div>
    <div>
    <label>Password
    <input type="Password" name="password" placeholder="Password" ng-model="user.password" ng-minlength="5" ng-required="true">
    </label>
    <p class="error validationerror" ng-show="myForm.password.$invalid && myForm.password.$touched">Please enter a password longer than 5 characters</p>
    </div>
  </fieldset>
    <button type="submit" ng-disabled="myForm.$invalid">Submit</button>
    
  </form>